<!DOCTYPE html>
<html>
  <head>
    <title>SoriCloud – Listen to free music and podcasts on SoriCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta
      name="SoriCloud"
      content="A single-page app for streaming music and uploading your own"
    />
    <meta content="record, sounds, share, sound, audio, tracks, music, soundcloud, soricloud" name="keywords">
    <meta property="twitter:image" content="<%= image_url('sori_meta.png') %>">
    <meta property="og:image" content="<%= image_url('sori_meta.png') %>">


    <script type="text/javascript">
      window.scLogo = "<%= image_url('soundcloud-icon.png') %>"
      window.splash1 = "<%= image_url('splash1.jpg') %>"
      window.splash2 = "<%= image_url('splash2.jpg') %>"
      window.splash3 = "<%= image_url('splash3.jpg') %>"
      window.splashMobile = "<%= image_url('splash-mobile.jpg') %>"
      window.mobileLinks = "<%= image_url('mobile-links.png') %>"
      window.defaultTrackPhoto = "<%= image_url('default-photo-track.png') %>"
      window.defaultUserPhoto = "<%= image_url('default-photo.png') %>"
      window.cameraIcon = "<%= image_url('camera-icon.png') %>"
      window.trashIcon = "<%= image_url('trash-icon.png') %>"
      window.playIcon = "<%= image_url('play-icon.png') %>"
      window.playIcon2 = "<%= image_url('play-icon2.png') %>"
      window.pauseIcon = "<%= image_url('pause-icon.png') %>"
      window.pauseIcon2 = "<%= image_url('pause-icon2.png') %>"
      window.playbackIcon = "<%= image_url('playback-icon.png') %>"
      window.caretIcon = "<%= image_url('caret-icon.png') %>"
      window.dotsIcon = "<%= image_url('dots-icon.png') %>"
      window.volumeIcon = "<%= image_url('volume-icon.png') %>"
      window.muteIcon = "<%= image_url('mute-icon.png') %>"
      window.editIcon = "<%= image_url('edit-icon.png') %>"
    </script>

    <script
      src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"
      data-auto-a11y="true"
    ></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="icon" href="<%= image_url('favicon.ico') %>">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
