<!DOCTYPE html>
<html>
  <head>
    <title>SoriCloud – Listen to free music and podcasts on SoriCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="record, sounds, share, sound, audio, tracks, music, soundcloud, soricloud" name="keywords">

    <script type="text/javascript">
      window.splashImg1 = "<%= image_url('splash1.jpg') %>"
      window.splashImg2 = "<%= image_url('splash2.jpg') %>"
      window.splashImg3 = "<%= image_url('splash3.jpg') %>"
      window.splashImg4 = "<%= image_url('splash4.jpg') %>"
      window.scIcon = "<%= image_url('sc-icon1.png') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
