<!DOCTYPE html>
<html>
  <head>
    <title>SoriCloud – Listen to free music and podcasts on SoriCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="record, sounds, share, sound, audio, tracks, music, soundcloud, soricloud" name="keywords">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400">
    <script
      src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"
      data-auto-a11y="true"
    ></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
